.added-users{
    border: 1px solid lightblue;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #025955;
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
}
.user-count, .total-salary{
    margin: 10px 0;
}
@media (max-width:580px){
    .added-users{
        margin:0 1rem;
        max-height: 45vh;
    }
    .user-count, .total-salary{
        margin: 5px 0;
    }
}