.user-info{
    /* background-color: lightgreen;
    border-radius: 20px; */
}
.added-users{
    flex: 1;
    border: 1px solid lightblue;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:580px){
    .added-users{
        margin:0 1rem;
        max-height: 45vh;
        overflow-y: auto;
    }
    .added-users h3,h4{
        margin: 5px 0;
    }
}