.user{
    border: 1px solid lightblue;
    padding: 1rem;
    text-align: center;
}
.add-user{
    height: 30px;
    width: 150px;
    background:lightseagreen;
    color: #ffffff;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    cursor: pointer;
}
.user-details{
    text-align: left;
    margin: .5rem 1rem;
    font-size: .9rem;
    color: #454647;
}
.user-details .icons{
    color: lightseagreen;
}