.added-users-info{
    width: 100%;
    background: linear-gradient(90deg,#025955,#00917c);
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding-right: 5px;
    border-radius: 10px;
    overflow: hidden;
}
.added-users-info:hover{
    transform: translate(4px);
    transition: .2s linear;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
button{
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    color: red;
}